footer{
  background-color: #454448;
  color: rgb(175, 175, 175);
  text-align: center;
  hr{
    margin-top: 0;
  }
  a{
    color: rgb(175, 175, 175);
    text-decoration: none;
  }
  .company{
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}